body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Global Placeholder Styling */
::placeholder {
  color: #94A3B8 !important;
  font-weight: 500 !important;
  opacity: 1 !important; /* Firefox lowers opacity by default */
}

:-ms-input-placeholder {
  color: #94A3B8 !important;
  font-weight: 500 !important;
}

::-ms-input-placeholder {
  color: #94A3B8 !important;
  font-weight: 500 !important;
}
